/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.clock {
    font-size: 60px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 10px;
    background-color: #444;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
